 {% load static %}
 <!-- Css Styles -->
 <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type="text/css">
 <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}" type="text/css">
 <link rel="stylesheet" href="{% static '/css/elegant-icons.css' %}" type="text/css">
 <link rel="stylesheet" href="{% static '/css/nice-select.css' %}" type="text/css">
 <link rel="stylesheet" href="{% static '/css/jquery-ui.min.css' %}" type="text/css">
 <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}" type="text/css">
 <link rel="stylesheet" href="{% static '/css/slicknav.min.css' %}" type="text/css">
 <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
 <link rel="stylesheet" href="{% static '/plugins/intl-tel-input-master/build/css/intlTelInput.css' %}" type="text/css">
 <!-- <link rel="stylesheet" href="{% static '/css/dashboard.css' %}" type="text/css"> -->
  <!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


  <!-- Select2 -->
<link rel="stylesheet" href="{% static '/plugins/select2/css/select2.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}" type="text/css">

<link rel="stylesheet" href="{% static '/plugins/bootstrap4-datetimepicker-master/build/css/bootstrap-datetimepicker.css' %}" type="text/css">

<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{% static '/js/plugins/datatables/dataTables.bootstrap4.css' %}" type="text/css">
<link rel="stylesheet" href="{% static '/js/plugins/datatables/buttons-bs4/buttons.bootstrap4.min.css' %}" type="text/css">