{% for customer in customers %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ customer.name }}</td>
    <td>{{ customer.address }}</td>
    <td>{{ customer.phone_number }}</td>
    <td class="text-center">{{ customer.total_orders }}</td>
    <td class="text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-light show-form-update" data-url="{% url 'customer_update_pos' customer.id %}" data-toggle="tooltip" title="Edit {{ customer.name }} ">
                <a class="fa fa-fw fa-pencil-alt"></a>
            </button>
            <!-- {% if request.user.is_superuser == True %}
            <button type="button" class="btn btn-sm btn-light show-form-delete" data-url="{% url 'customer_delete_pos' customer.id %}" data-toggle="tooltip" title="Delete {{ customer.name }}">
                <a class="fa fa-fw fa-times"> </a>
            </button>
            {% endif %} -->
        </div>
    </td>
  </tr>
{% endfor %}
