{% extends 'base_mainapp.html' %}
{% load static %}

{% block body %}
<main class="pt-5">
  <div class="container">
    <div class="login align-items-left">
      <div class="col-12 col-md-12 col-lg-12 mx-auto">
    <h1 class="h2">Item List</h1>
    Manage <b>Items</b>
<div class="row">
  <div class="col-9">
    {% include 'admin/includes/orders_personal_details_links.html' %}
  </div>
  <div class="col-3">
    <a href="{% url 'item_create' %}"> <button class="btn btn-primary mb-2 site-btn">Add New Item</button> </a>
  </div>

</div>
    <hr />

    <div class="row">
   <div class="card-body">
    <table class="table table-bordered table-striped" id="item-table">
      <thead >
        <tr>
            <th>ID</th>
            <th >Item</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Available</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for items in items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ items.item_name }}</td>
            <td>{{ items.item_description }}</td>
            <td>{{ items.price }}</td>
            <td>{{ items.category }}</td>
            <td class="text-center">
              {% if items.active == True%}
              <span class="nav-main-link-badge badge badge-pill badge-success" data-toggle="tooltip" title="User is Admin">Yes</span>
              {% elif items.active == False %}
              <span class="nav-main-link-badge badge badge-pill badge-danger" data-toggle="tooltip" title="User is not Admin">No</span>
              {% endif %}
            </td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'item_update' items.id %}">
                      <button type="button" class="btn btn-sm btn-light show-form-update" data-toggle="tooltip" title="Edit {{ items.item_name }} ">
                          <span class="fa fa-fw fa-pencil"></span>
                      </button>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>  
  </div> 

    </div>
    </div>
    </div>
    </div>
</main>

{% endblock body %}