{% extends 'base_mainapp.html' %}
{% load static %}

{% block body %}
<main class="pt-5">
    <div class="container">
        <div class="login align-items-left">
          <div class="col-12 col-md-12 col-lg-12 mx-auto">
        <h1 class="h2">Category List</h1>
        Manage <b>Item Categories</b>
    <div class="row">
      <div class="col-9">
        {% include 'admin/includes/orders_personal_details_links.html' %}
      </div>
      <div class="col-3">
        <a href="{% url 'category_create' %}"> <button class="btn btn-primary mb-2 site-btn">Add New Item Category </button> </a>
      </div>

    </div>
      
    <hr />
    <div class="row">
   <div class="card-body">
    <table class="table table-bordered table-striped" id="item-table">
      <thead >
        <tr>
            <th>ID</th>
            <th >Category Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ category.category_name }}</td>
            <td>{{ category.category_description }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="{% url 'category_update' category.id %}">
                      <button type="button" class="btn btn-sm btn-light" data-toggle="tooltip" title="Edit {{ category.category_name }} ">
                          <span class="fa fa-fw fa-pencil"></span>
                      </button>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>  
  </div> 

    </div>
    </div>
    </div>
    </div>
</main>

{% endblock body %}